//colors

$color-primary-0 : #3A6570;	/* Main Primary color */
$color-primary-1 : #4499AD;
$color-primary-2 : #42808F;
$color-primary-3 : #314A50;
$color-primary-4 : #1C2527;

$color-secondary-1-0 : #8AA854; 	/* Main Secondary color (1) */
$color-secondary-1-1 : #BAF05A;
$color-secondary-1-2 : #ACD660;
$color-secondary-1-3 : #677847;
$color-secondary-1-4 : #353B2A;

$color-secondary-2-0 : #57447B; 	/* Main Secondary color (2) */
$color-secondary-2-1 : #7652BB;
$color-secondary-2-2 : #6A4F9D;
$color-secondary-2-3 : #433859;
$color-secondary-2-4 : #24202B;

$color-complement-0 : #B4875B; 	/* Main Complement color */
$color-complement-1 : #FFAF60;
$color-complement-2 : #E6A667;
$color-complement-3 : #82674D;
$color-complement-4 : #3F362D;

$twitter-color: #00aced;
$facebook-color: #3b5998;
$google-color: #dd4b39;

// fonts
$primary-font : 'Lato', sans-serif;
$h1-weight : 700;
$h1-size : 2em;
$h2-weight : 400;
$h2-size : 1.8em;
$h3-size : 1.6em;
$h4-size : 1.4em;
$h5-size : 1.2em;
$h-normal : 300;
