//colors-classes

.blue1{ color: #3A6570; }
.blue2{ color: #4499AD; }
.blue3{ color: #42808F; }
.blue4{ color: #314A50; }
.blue5{ color: #1C2527; }
.orange1{ color: #B4875B; }
.orange2{ color: #FFAF60; }
.orange3{ color: #E6A667; }
.orange4{ color: #82674D; }
.orange5{ color: #3F362D; }
.purple1{ color: #57447B; }
.purple2{ color: #7652BB; }
.purple3{ color: #6A4F9D; }
.purple4{ color: #433859; }
.purple5{ color: #24202B; }
.green1{ color: #8AA854; }
.green2{ color: #BAF05A; }
.green3{ color: #ACD660; }
.green4{ color: #677847; }
.green5{ color: #353B2A; }

.color-facebook{ color: $facebook-color; }
.color-twitter{ color: $twitter-color; }
.color-google{ color: $google-color; }

.txtcenter{
  text-align: center;
}

.flex{
  display: flex;
  justify-content: space-around;
}
.mobile-only{
  display: none;
  @media handheld, only screen and (max-device-width: 600px), only screen and (max-width: 600px) {
    display: inline-block;
    margin-right: 15px;
  }
}