@import '_vars';
@import 'fa/font-awesome';
@import 'helpers';

.wrapper{
  display: flex;
  height: 100%;
  .login{
    margin: auto;
    padding: 15px;
    border: solid 1px $color-primary-3;
    border-radius: 10px;
    background: $color-primary-3;
    display: flex;
    flex-direction: column;
    text-align: center;
    font-weight: $h1-weight;
    color: $color-secondary-1-0;
    a{
      color: #FFFFFF;
      margin-top: 10px;
      font-weight: $h-normal;
      text-decoration: none;
    }
  }
}
body{
  height: 100vh;
  margin: 0;
  font-family: 'Lato', sans-serif;
}
section{
  height: 100%;
}
footer{
  max-height: 20%;
}
.main{
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  padding: 15px;
}
.header{
  font-weight: $h1-weight;
  font-size: $h4-size;
}
.messages{
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  flex-grow: 1;
  margin: 10px;
  overflow-y: auto;
  .message-author, .message-time{
  }
  .message-text{
    white-space: pre-wrap;
    font-weight: 300;
  }
}
form.message-form{
  display: flex;
  textarea{
    font-family: 'Lato', sans-serif;
    flex-grow: 1;
    resize: none;
    outline: none;
    overflow: auto;
    border-radius: 5px;
    border: 1px solid #1C2527;
    padding: 5px;
  }
}
#aside-1{
  max-width: 200px;
  background-color: #314A50;
  color: #ffffff;
  padding: 10px;
  ul{
    font-weight: $h-normal;
    list-style: none;
    font-size: $h-normal-size;
    a{
      text-decoration: none;
      color: #FFFFFF;
    }
  }
  @media handheld, only screen and (max-device-width: 600px), only screen and (max-width: 600px) {
    position: absolute;
    height: 100%;
    &.expanded{
      padding: 10px;
      width: 100%;
      transition:width 1s, padding 0.5s ;
      .content{
        display: block;
      }

    }
    &.shrinked{
      width: 0px;
      transition:width 1s, padding 0.5s;
      padding: 10px 0;
      .content{
        display: none;
      }
    }
  }

}
.aside-2{
  display: none;
}

#user-edit{
  form{
    display: flex;
    flex-direction: column;
    width: 300px;
    margin: auto;
    padding: 15px;
    label{
      margin-bottom:5px;
    }
    input[type='text'], input[type='email'], input[type='password']{
      font-family: $primary-font;
      display: block;
      margin: 0 0 10px;
      font-size: 18px;
      appearance: none;
      box-shadow: none;
      border-radius: none;
      padding: 10px;
      border: solid 1px $color-primary-3;
      transition: box-shadow 0.3s, border 0.3s;
      border: solid 1px $color-primary-2;
      &:focus{
        outline: none;
        border: solid 1px $color-primary-2;
        box-shadow: 0 0 5px 1px $color-primary-3;
      }
    }
    input[type='submit']{
      font-family: $primary-font;
      display: block;
      margin: 0 0 10px;
      font-size: 18px;
      appearance: none;
      border-radius: none;
      padding: 10px;
      border: solid 1px $color-primary-3;
      transition: box-shadow 0.3s, border 0.3s;
      background: #FFFFFF;
      outline: none;
      border: solid 1px $color-primary-2;
      &:focus{
        outline: none;
        border: solid 1px $color-primary-2;
        box-shadow: 0 0 5px 1px $color-primary-3;
      }
    }
  }
}

#new-user{
  .sso{
    a{
      margin: 15px;
    }
  }
  form{
    display: flex;
    flex-direction: column;
    width: 300px;
    padding: 0 15px;
    label{
      margin-bottom:5px;
    }
    input[type='text'], input[type='email'], input[type='password']{
      font-family: $primary-font;
      display: block;
      margin: 0 0 10px;
      font-size: 18px;
      appearance: none;
      box-shadow: none;
      border-radius: none;
      padding: 10px;
      border: solid 1px $color-primary-3;
      transition: box-shadow 0.3s, border 0.3s;
      border: solid 1px $color-primary-2;
      &:focus{
        outline: none;
        border: solid 1px $color-primary-2;
        box-shadow: 0 0 5px 1px $color-primary-3;
      }
    }
    input[type='submit']{
      font-family: $primary-font;
      display: block;
      margin: 0 0 10px;
      font-size: 18px;
      appearance: none;
      border-radius: none;
      padding: 10px;
      border: solid 1px $color-primary-3;
      transition: box-shadow 0.3s, border 0.3s;
      background: #FFFFFF;
      outline: none;
      border: solid 1px $color-primary-2;
      &:focus{
        outline: none;
        border: solid 1px $color-primary-2;
        box-shadow: 0 0 5px 1px $color-primary-3;
      }
    }
  }
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  &:hover, &:focus{
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
}