<div class="wrapper" ng-controller="ChatController">
  <aside id="aside-1" class="aside">
    <h2><i class="green1 fa fa-comments-o"></i> Channels</h2>
      <ul ng-repeat="channel in channels">
          <li>
              <a href="/#!/{{channel.name}}" ng-bind="channel.name"></a>
              <a href="" ng-click="removeChannel(channel)" ng-show="user.role === 'Admin'">x</a>
          </li>
      </ul>
      <form ng-submit="createChannel();">
          <input type="text" id="name" ng-model="name">
          <input type="submit">
      </form>
      <h2><i class="green1 fa fa-users"></i> Users</h2>
      <ul id="user-list">
          <li ng-repeat="user in users" ng-class="{connected : user.isConnected}">
              <a href="/#!/users/edit/{{user._id}}" ng-bind="user.username"></a>
          </li>
      </ul>
  </aside>
  <div class="main">
    <div class="header" ng-bind="channel"></div>
    <div class="messages" scroll-glue>
      <div ng-repeat="message in messages" ng-switch="message.type">
          <strong ng-switch-when='status' class="message-status">
            <span class="" ng-bind="message.created | date: 'HH:mm'"></span>
            <span class="" ng-bind="message.creator.username" style="color: {{message.creator.color}}"></span>
            <span>is</span>
            <span class="" ng-bind="message.text"></span>
            </strong>

          <span ng-switch-default>
            <span class="message-time" ng-bind="message.created | date: 'HH:mm'"></span>
            <span ng-hide="message.creator.username === messages[$index - 1].creator.username" class="message-author" ng-bind="message.creator.username" style="color: {{message.creator.color}}"></span>
            <span>:</span>
            <span class="message-text" ng-bind-html="message.text | emoji"></span>
          </span>
      </div>
    </div>

    <aside class="aside aside-2">Aside 2</aside>
    <footer class="footer">
        <form class="message-form">
            <textarea ng-keydown="keyPressed($event)" id="message-input" type="text" ng-model="messageText" placeholder="Remember, be nice!" rows="3"></textarea>
        </form>
    </footer>
  </div>
</div>
