<section id="home" class="wrapper" ng-controller="ExampleController">
  <div class="login" ng-show="!authentication.user">
    <span>MEAN SLACK <i class="green1 fa fa-comments-o fa-3x"></i></span> 
    <a href="/#!/users/new">Créer un compte</a>
    <a href="/signin">Se connecter</a>
  </div>
  <div class="logged" ng-show="authentication.user">
    Hello, <span ng-bind="authentication.user.fullName"></span>
    <br>
    <a href="/signout">signout</a>
    <br>
    <ul>
      <li><a href="/#!/general">Let's Chat</a></li>
    </ul>
  </div>
</section>
